@CHARSET "UTF-8";


/* 210 가로세로 폰트 적용 */
@font-face{
   font-family: "garosero";
   src: url("/groupware/resources/assets/fonts/210.ttf");
}

/* 날씨 버튼 */
.weather {
/* 	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
 *//* 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a8bf73), color-stop(1, #00836d));
	background:-moz-linear-gradient(top, #a8bf73 5%, #00836d 100%);
	background:-webkit-linear-gradient(top, #a8bf73 5%, #00836d 100%);
	background:-o-linear-gradient(top, #a8bf73 5%, #00836d 100%);
	background:-ms-linear-gradient(top, #a8bf73 5%, #00836d 100%);
	background:linear-gradient(to bottom, #a8bf73 5%, #00836d 100%);
 */	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbffe0', endColorstr='#fbffe0',GradientType=0);
	background-color:#fbffe0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #a8bf73;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:13px;
	padding:40px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.weather:hover {
/* 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00836d), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	 */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00836d', endColorstr='#a8bf73',GradientType=0);
	background-color:#a8bf73;
} 
.weather:active {
	position:relative;
	top:1px;
}
td{
font-size: 8;
}

#weather{
position: relative;
top:-35px;
left:-70px;
}
#weather tr td{
	text-align: left;
}







/* 입퇴실 박스 */
#check-inout {
	border: 2px solid #e2e2e2;
	border-radius: 15px;
	width: 160px;
	height: 130px;
	margin-right: 10px;
}

.box-layout{
	border: 2px solid #e2e2e2;
	border-radius: 15px;/* 테두리 각짐 */
}

#inline-block{
	display: inline-block;
}

#pie-chart-layout{
	margin-top:20px;
	width: 300px;
	height: 275px;
}

#graph-layout{
	width: 570px;
	height: 382px;
/* 	position: absolute; */
	margin-left: 330px;
/* 	margin-top: -401px; */
}


#lol{
	position: relative;
}

#check-inout #margin-box-weather {
	margin: 14px;
}

#margin-box2{
	border: 2px solid #e2e2e2;
	border-radius: 15px;
/* 	width: 65%; */
	width: 700px;
	height: 130px;
	position: relative;
	margin-left:200px;
	position: absolute;
	margin-top: 2px;
	/* margin-right: 20px; */
}

#col4-layout{
	margin-left:17px;
	display: inline-block;

}


/* 메인 입실 */
.check-in {
	-moz-box-shadow:inset 0px 39px 0px -24px #5bc0de;
	-webkit-box-shadow:inset 0px 39px 0px -24px #5bc0de;
	box-shadow:inset 0px 39px 0px -24px #5bc0de;
	background-color:#5bc0de;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5bc0de;
}
.check-in:hover {
	background-color:#5bc0de;
}
.check-in:active {
	position:relative;
	top:1px;
}

/* 메인 퇴실 */
.check-out {
	-moz-box-shadow:inset 0px 39px 0px -24px #f0ad4e;
	-webkit-box-shadow:inset 0px 39px 0px -24px #f0ad4e;
	box-shadow:inset 0px 39px 0px -24px #f0ad4e;
	background-color:#f0ad4e;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f0ad4e;
}
.check-out:hover {
	background-color:#f0ad4e;
}
.check-out:active {
	position:relative;
	top:1px;
}
#font-garo, #check-in-text, #check-out-text{
	font-family: garosero;
	font-size: 15;
}

.text-box1, .text-box2, .text-box3{
	position: absolute;
	margin-top: 25px;
}

.text-box1{
	margin-left: 10px;
} 
.text-box2{
	margin-left: 185px;
}
.text-box3{
	margin-left: 360px;
}



.text-line1{
	vertical-align: -29px;
	margin-left: 80px;
}



#main_img{
	position: absolute;
	width: 75px;
	height: 75px;
}

#box-inner-items{
	margin: 15px;
}

#chart_div{
	zoom: 1; /* ie 5,6,7 bug fix */
	filter: alpha(opacity=80);
	opacity: 1.0;
	border-radius: 50;	
	margin-left: 5px;
	margin-top: 5px;
}
