<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.groupware.CheckMapper">

		<!-- 입실처리 -->
	<insert id="insert-checkin"> 
	INSERT INTO MORAM_ATTENDANCE (ID) VALUES (#{id})
	</insert>

	<!-- 퇴실처리 -->
	<!-- 오늘 입실처리된 id가 일치하는 leave, attendance, statetime, score 정보를 넣어줌 -->
	<update id="update-checkout"> update moram_attendance set 
	leave = to_char(sysdate, 'YYYY/MM/DD HH24:MI:SS'), 
	attendance = #{attendance}, 
	statetime = #{statetime}, 
	score = #{score} 
	where enter between TO_CHAR(SYSDATE,'YYYY/MM/DD') 
	and TO_CHAR(SYSDATE,'YYYY/MM/DD HH24:MI:SS') 
	and id = #{id} 
	</update>
	
	<!-- 모든 입퇴실 정보 -->
	<select id="selectall" resultType="project.spring.groupware.member.domain.MainCheckVO"> 
	select * from moram_attendance 
	</select>


	<!-- id가 일치하는 오늘자 출퇴근 정보를 검색  -->
	<select id="selecttodayid" resultType="project.spring.groupware.member.domain.MainCheckVO"> 
	SELECT * from moram_attendance 
	where enter between TO_CHAR(SYSDATE,'YYYY/MM/DD') 
	and TO_CHAR(SYSDATE,'YYYY/MM/DD HH24:MI:SS') 
	and id = #{id} 
	</select>
	
	<!-- 저번주 일주일치 정보만 검색  -->
	<!-- to_char(enter , 'day') = 입실 날짜의 요일 정보를 가져옴 -->
	<!-- to_char(enter , 'day') as to_char 
	to_char(enter, 'day')로 이름이 지정되어 변수 이름으로 key value를 못찾기 떄문에 to_char라는 별명을 지정해줌 -->
	
	<!-- TO_CHAR(TRUNC(sysdate, 'iw') 이번주만 검색-->
	<!-- TO_CHAR(TRUNC(sysdate, 'iw') - 7 , -1  저번주 월요일~일요일 검색  -->
	<select id="selectsevendays" resultType="project.spring.groupware.member.domain.MainCheckVO">
	SELECT id , enter , leave , statetime , attendance , score , to_char(enter,'day') as to_char 
	from moram_attendance 
	where enter between TO_CHAR(TRUNC(sysdate, 'iw') - 7, 'yyyymmdd') 
	and TO_CHAR(TRUNC(sysdate, 'iw') - 1, 'yyyymmdd') order by enter ASC
	</select> 
	
	<!-- 오늘자 모든 입실 정보를 뽑아냄 -->
	<select id="selecttodayall" resultType="project.spring.groupware.member.domain.MainCheckVO"> 
	SELECT * from moram_attendance where enter 
	between TO_CHAR(SYSDATE,'YYYY/MM/DD') 
	and TO_CHAR(SYSDATE,'YYYY/MM/DD HH24:MI:SS') 
	</select>
	
	<select id="selectallweek" resultType="project.spring.groupware.member.domain.MainCheckVO">
	SELECT id , enter , leave , statetime , attendance , score , to_char(enter,'day') as to_char 
	from moram_attendance order by enter DESC  
	</select>
	
	<select id="selectITnews" resultType="project.spring.groupware.board.domain.BoardVO">
		select bno, title, to_char(regdate) as userid from moram_itnews_board 
		order by bno desc 
	</select>
	
	<select id="selectInfo" resultType="project.spring.groupware.board.domain.BoardVO">
		select bno, title, to_char(regdate) as userid from moram_info_board 
		order by bno desc 
	</select>
	
	<select id="memberimage" resultType="project.spring.groupware.member.domain.MemberVO">
	select id, name, profileimage from moram_member where name = #{name} 
	</select>
	
	<select id="myimage" resultType="project.spring.groupware.member.domain.MemberVO">
	select name, profileimage from moram_member where name = #{name} 
	</select>
	
</mapper>