<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.spring.groupware.CheckMapper">

	<insert id="insert-checkin"> 
	INSERT INTO MORAM_ATTENDANCE (ID) VALUES (#{id})
	</insert>

	<!-- 2016-11-18 00:51:45 -->


	<update id="update-checkout"> update moram_attendance set 
	leave = to_char(sysdate, 'YYYY/MM/DD HH24:MI:SS'), 
	attendance = #{attendance}, 
	statetime = #{statetime}, 
	score = #{score} 
	where enter between TO_CHAR(SYSDATE,'YYYY/MM/DD') 
	and TO_CHAR(SYSDATE,'YYYY/MM/DD HH24:MI:SS') 
	and id = #{id} 
	</update>
	
	<!--  -->
	<select id="selectall" resultType="project.spring.groupware.member.domain.MainCheckVO"> 
	select * from moram_attendance 
	</select>


	<!--  -->
	<select id="selecttodayid" resultType="project.spring.groupware.member.domain.MainCheckVO"> 
	SELECT * from moram_attendance 
	where enter between TO_CHAR(SYSDATE,'YYYY/MM/DD') 
	and TO_CHAR(SYSDATE,'YYYY/MM/DD HH24:MI:SS') 
	and id = #{id} 
	</select>
	
	<select id="selectsevendays" resultType="project.spring.groupware.member.domain.MainCheckVO">
	SELECT id , enter , leave , statetime , attendance , score , to_char(enter,'day') as to_char from moram_attendance 
	where enter between TO_CHAR(TRUNC(sysdate, 'iw') - 7, 'yyyymmdd') 
	and TO_CHAR(TRUNC(sysdate, 'iw') - 1, 'yyyymmdd') order by enter ASC
	</select> 
	
	<select id="selecttodayall" resultType="project.spring.groupware.member.domain.MainCheckVO"> 
	SELECT * from moram_attendance where enter 
	between TO_CHAR(SYSDATE,'YYYY/MM/DD') 
	and TO_CHAR(SYSDATE,'YYYY/MM/DD HH24:MI:SS') 
	</select>

</mapper>