<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  <!-- SQL 문장들을 작성하는 XML 파일 -->
 
 <mapper namespace="project.spring.groupware.EmailMapper">
 <!-- Insert SQL 문 -->
 <insert id="emailsend-insert">
 insert into MORAM_GROUP_EMAIL(num, from_email, to_email, subject, content, state)
 values(#{num}, #{from_email}, #{to_email}, #{subject}, #{content}, #{state})
 
 </insert>
 <select id="find_gwmail" resultType="project.spring.groupware.member.domain.MemberVO"> 
 select * from moram_member
where id = #{id}
</select>

<select id="send_emailList" resultType="project.spring.groupware.email.domain.EmailVO">
select * from moram_group_email
where from_email = #{groupemail} and state = 1 order by senddate desc
 </select>
 
<select id="delete_emailList" resultType="project.spring.groupware.email.domain.EmailVO">
select * from moram_group_email
where (from_email = #{groupemail} or to_email=#{groupemail}) and state = 2 order by senddate desc
 </select>
 
 <select id="adressList" resultType="project.spring.groupware.email.domain.EmailVO">
	select b.* from(select rownum rn, a.* from(select * from moram_group_email where state=#{state} and from_email = #{from_email} order by senddate desc) a 
	)b where rn between #{start} and #{end}
	</select>

<select id="EmailTotalct" resultType="Integer">
 select count(*) from moram_group_email where state=#{state} and from_email=#{from_email}
	
</select>
 
 <select id="EmailAdressBox" resultType="project.spring.groupware.member.domain.MemberVO">
 select * from moram_member
 </select>
 
 
 <select id="detail_Email" resultType="project.spring.groupware.email.domain.EmailVO">
 select * from moram_group_email
 where num = #{num} and (state = 1 or state = 2)
 </select>
<!-- 
<select id="selectByBno" resultType="project.spring.groupware.email.domain.EmailVO">
	select*from moram_group_email
	where num = #{num}
	</select> -->

 <update id="delete_change">
 update moram_group_email set state=0 where num = #{num}
	 </update>
 
 <select id="select_mail_num" resultType="Integer">
 	select max(num) from moram_group_email
 </select>


 
<select id="addressList" resultType="project.spring.groupware.email.domain.EmailVO">
	select b.* from(select rownum rn, a.* from(select * from moram_group_email where state=1 and from_email = #{from_email} order by senddate desc) a 
	)b where rn between #{start} and #{end}
</select>
 
<select id="totalAddressList" resultType="Integer">
select count (*) from 
(select b.* from(select rownum rn, a.* from(select * from moram_group_email where state = 1 and from_email = #{from_email}
order by senddate desc) a 
	)b)
</select>	
 
 
  
<select id="addressListdelete" resultType="project.spring.groupware.email.domain.EmailVO">
	select b.* from(select rownum rn, a.* from(select * from moram_group_email where state=2 and to_email = #{from_email} order by senddate desc) a 
	)b where rn between #{start} and #{end}
</select>
 
<select id="totalAddressListdelete" resultType="Integer">
select count (*) from 
(select b.* from(select rownum rn, a.* from(select * from moram_group_email where state = 2 and to_email = #{from_email}
order by senddate desc) a 
	)b)
</select>
 
 
 </mapper>