<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC 	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace ="replyMapper">
	<select id="numOfReplies" resultType="Integer">
		select count(*)from Moram_Lecture_Comment
	</select>
	
	<select id="numOfRepliesByBno" resultType="Integer">
		select count(*)from Moram_Lecture_Comment where bno = #{bno}
	</select>
	
	<insert id="insert">
	insert into Moram_Lecture_Comment(bno,rtext,replier)
	values(#{bno},#{rtext},#{replier})
	</insert>
	
	<select id="select" resultType="project.spring.groupware.board.domain.BoardVO">
		select*from Moram_Lecture_Comment
		where bno = #{bno}
		order by rno desc
	</select>
	
	<update id="update">
	update Moram_Lecture_Comment
	set rtext = #{rtext}, regdate = sysdate
	where rno = #{rno}
	</update>
	
	<delete id="delete">
	delete from Moram_Lecture_Comment where rno = #{rno}
	</delete>
	
	<delete id="deleteByBno">
	delete from Moram_Lecture_Comment where bno = #{bno}
	</delete>
	
	<select id="selectName" resultType="project.spring.groupware.board.domain.ReplyAddNameVO">
		select a.rno, a.bno, a.rtext, b.name, a.replier, a.regdate
  		from moram_lecture_comment a left outer join moram_member b
		on replier = id and id = #{replier}
		where bno = #{bno}
		order by rno desc
	</select>
	
</mapper>